In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [2]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [3]:

# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df['school_name']=='Thomas High School')&(student_data_df['grade']=='9th'),'reading_score']=np.nan

In [4]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[(student_data_df['school_name']=='Thomas High School')&(student_data_df['grade']=='9th'),'math_score']=np.nan

In [5]:
#  Step 4. Check the student data for NaN's
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0
5,5,Bryan Miranda,M,9th,Huang High School,94.0,94.0
6,6,Sheena Carter,F,11th,Huang High School,82.0,80.0
7,7,Nicole Baker,F,12th,Huang High School,96.0,69.0
8,8,Michael Roth,M,10th,Huang High School,95.0,87.0
9,9,Matthew Greene,M,10th,Huang High School,96.0,84.0
10,10,Andrew Alexander,M,10th,Huang High School,90.0,70.0
11,11,Daniel Cooper,M,10th,Huang High School,78.0,77.0
12,12,Brittney Walker,F,9th,Huang High School,64.0,79.0
13,13,William Long,M,9th,Huang High School,71.0,79.0
14,14,Tammy Hebert,F,10th,Huang High School,85.0,67.0
15,15,Jordan Carson,M,11th,Huang High School,94.0,88.0
16,16,Donald Zamora,M,9th,Huang High School,88.0,55.0
17,17,Kimberly Santiago,F,9th,Huang High School,74.0,75.0
18,18,Kevin Stevens,M,9th,Huang High School,64.0,69.0
19,19,Brandi Lyons,F,9th,Huang High School,89.0,80.0
20,20,Lisa Davis,F,10th,Huang High School,91.0,89.0
21,21,Kristen Lopez,F,10th,Huang High School,90.0,77.0
22,22,Kimberly Stewart,F,11th,Huang High School,99.0,84.0
23,23,Christopher Parker,M,9th,Huang High School,81.0,68.0
24,24,Chelsea Griffith,F,11th,Huang High School,85.0,73.0
25,25,Cesar Morris,M,9th,Huang High School,92.0,70.0
26,26,Melanie Decker,F,9th,Huang High School,63.0,85.0
27,27,Tracey Oconnor,F,10th,Huang High School,80.0,58.0
28,28,Kelly James,F,11th,Huang High School,73.0,55.0
29,29,Nicole Brown,F,12th,Huang High School,90.0,88.0
...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,NaN,NaN
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86.0,93.0
39142,39142,Deborah Higgins,F,10th,Thomas High School,96.0,83.0
39143,39143,Steven Jackson,M,11th,Thomas High School,71.0,93.0
39144,39144,Cristian Webster,M,12th,Thomas High School,77.0,87.0
39145,39145,Audrey Fry,F,10th,Thomas High School,94.0,74.0
39146,39146,Michael Carroll,M,9th,Thomas High School,NaN,NaN
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88.0,81.0
39148,39148,Christopher Wilson,M,10th,Thomas High School,89.0,89.0
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82.0,93.0
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80.0,75.0
39151,39151,Shannon Williams,F,10th,Thomas High School,84.0,73.0
39152,39152,Lori Moore,F,9th,Thomas High School,NaN,NaN
39153,39153,William Hubbard,M,9th,Thomas High School,NaN,NaN
39154,39154,Bradley Johnson,M,12th,Thomas High School,91.0,71.0
39155,39155,John Brooks,M,10th,Thomas High School,92.0,98.0
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79.0,95.0
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,NaN,NaN
39158,39158,Kari Holloway,F,10th,Thomas High School,87.0,90.0
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85.0,72.0
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [14]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0,0,District,2917,1910635

In [15]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [16]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [20]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 
ninth_grade_student_count_Thomas_High_School = school_data_complete_df.loc[(school_data_complete_df['school_name']=='Thomas High School')&(school_data_complete_df['grade']=='9th')]["Student ID"].count()

# Get the total student count 
total_student_count = school_data_complete_df["Student ID"].count()


# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.
new_total_student_count = total_student_count - ninth_grade_student_count_Thomas_High_School

In [21]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]

In [ ]:
# Step 3. Calculate the passing percentages with the new total student count.
passing_math_percentage = passing_math_count / float(new_total_student_count) * 100

In [ ]:
passing_reading_percentage = passing_reading_count / float(new_total_student_count) * 100

In [ ]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()


# Step 4.Calculate the overall passing percentage with new total student count.
overall_passing_percentage = overall_passing_math_reading_count / new_total_student_count * 100

In [ ]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])



# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

##  School Summary

In [25]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [42]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})


per_school_summary_df.head()

,% Overall Passing,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,School Type,Total School Budget,Total Students
Bailey High School,54.642283,66.680064,81.933280,77.048432,81.033963,628.0,District,3124928.0,4976
Cabrera High School,91.334769,94.133477,97.039828,83.061895,83.975780,582.0,Charter,1081356.0,1858
Figueroa High School,53.204476,65.988471,80.739234,76.711767,81.158020,639.0,District,1884411.0,2949
Ford High School,54.289887,68.309602,79.299014,77.102592,80.746258,644.0,District,1763916.0,2739
Griffin High School,90.599455,93.392371,97.138965,83.351499,83.816757,625.0,Charter,917500.0,1468

In [43]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

,% Overall Passing,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,School Type,Total School Budget,Total Students
Bailey High School,54.642283,66.680064,81.933280,77.048432,81.033963,$628.00,District,"$3,124,928.00",4976
Cabrera High School,91.334769,94.133477,97.039828,83.061895,83.975780,$582.00,Charter,"$1,081,356.00",1858
Figueroa High School,53.204476,65.988471,80.739234,76.711767,81.158020,$639.00,District,"$1,884,411.00",2949
Ford High School,54.289887,68.309602,79.299014,77.102592,80.746258,$644.00,District,"$1,763,916.00",2739
Griffin High School,90.599455,93.392371,97.138965,83.351499,83.816757,$625.00,Charter,"$917,500.00",1468
Hernandez High School,53.527508,66.752967,80.862999,77.289752,80.934412,$652.00,District,"$3,022,020.00",4635
Holden High School,89.227166,92.505855,96.252927,83.803279,83.814988,$581.00,Charter,"$248,087.00",427
Huang High School,53.513884,65.683922,81.316421,76.629414,81.182722,$655.00,District,"$1,910,635.00",2917
Johnson High School,53.539172,66.057551,81.222432,77.072464,80.966394,$650.00,District,"$3,094,650.00",4761
Pena High School,90.540541,94.594595,95.945946,83.839917,84.044699,$609.00,Charter,"$585,858.00",962
Rodriguez High School,52.988247,66.366592,80.220055,76.842711,80.744686,$637.00,District,"$2,547,363.00",3999
Shelton High School,89.892107,93.867121,95.854628,83.359455,83.725724,$600.00,Charter,"$1,056,600.00",1761
Thomas High School,65.076453,66.911315,69.663609,83.350937,83.896082,$638.00,Charter,"$1,043,130.00",1635
Wilson High School,90.582567,93.867718,96.539641,83.274201,83.989488,$578.00,Charter,"$1,319,574.00",2283
Wright High School,90.333333,93.333333,96.611111,83.682222,83.955000,$583.00,Charter,"$1,049,400.00",1800

In [44]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
total_student_count_Thomas_High_School = school_data_complete_df.loc[(school_data_complete_df['school_name'] == 'Thomas High School')&(school_data_complete_df['grade'].isin(['10th','11th','12th']))]['Student ID'].count()

In [45]:
# Step 6. Get all the students passing math from THS
school_data_Thomas_High_School  = school_data_complete_df.loc[(school_data_complete_df["school_name"] == "Thomas High School")]
passing_math_THS = school_data_Thomas_High_School.loc[( school_data_Thomas_High_School["math_score"] >= 70)]




#passing_math_count_THS = school_data_Thomas_High_School[(school_data_Thomas_High_School["math_score"] >= 70)].count()["student_name"]
#passing_math_percentage = passing_math_count / float(student_count) * 100

In [46]:
passing_math_THS

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
37535,37535,Norma Mata,F,10th,Thomas High School,76.0,76.0,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84.0,82.0,14,Charter,1635,1043130
37541,37541,Eric Stevens,M,10th,Thomas High School,80.0,76.0,14,Charter,1635,1043130
37542,37542,Elizabeth Bennett,F,11th,Thomas High School,91.0,94.0,14,Charter,1635,1043130
37544,37544,Jacqueline Harris,F,10th,Thomas High School,71.0,92.0,14,Charter,1635,1043130
37546,37546,Steven Hoover,M,12th,Thomas High School,90.0,81.0,14,Charter,1635,1043130
37547,37547,Amanda Hicks,F,12th,Thomas High School,77.0,74.0,14,Charter,1635,1043130
37548,37548,Brian Moss,M,10th,Thomas High School,70.0,97.0,14,Charter,1635,1043130
37551,37551,Nancy Mason,F,12th,Thomas High School,91.0,86.0,14,Charter,1635,1043130
37552,37552,Matthew Marquez,M,10th,Thomas High School,88.0,79.0,14,Charter,1635,1043130
37553,37553,Curtis Gibson,M,10th,Thomas High School,97.0,70.0,14,Charter,1635,1043130
37554,37554,Rebecca Brown,F,11th,Thomas High School,76.0,77.0,14,Charter,1635,1043130
37555,37555,Chad Martin,M,11th,Thomas High School,72.0,82.0,14,Charter,1635,1043130
37556,37556,Sarah Park,F,11th,Thomas High School,95.0,74.0,14,Charter,1635,1043130
37557,37557,Shannon Sanchez,F,11th,Thomas High School,93.0,84.0,14,Charter,1635,1043130
37560,37560,Kim Hall,F,11th,Thomas High School,70.0,83.0,14,Charter,1635,1043130
37561,37561,Charles Lopez,M,11th,Thomas High School,69.0,93.0,14,Charter,1635,1043130
37563,37563,Amy Richard,F,10th,Thomas High School,80.0,97.0,14,Charter,1635,1043130
37565,37565,Teresa Poole,F,10th,Thomas High School,93.0,94.0,14,Charter,1635,1043130
37566,37566,Jonathon Roberts,M,10th,Thomas High School,84.0,77.0,14,Charter,1635,1043130
37568,37568,Jacob Mccullough,M,11th,Thomas High School,77.0,98.0,14,Charter,1635,1043130
37570,37570,Victoria Brown,F,12th,Thomas High School,87.0,95.0,14,Charter,1635,1043130
37571,37571,Michael Murphy,M,12th,Thomas High School,74.0,86.0,14,Charter,1635,1043130
37574,37574,Mark Weeks,M,10th,Thomas High School,74.0,95.0,14,Charter,1635,1043130
37575,37575,Monique Shepherd,F,10th,Thomas High School,77.0,85.0,14,Charter,1635,1043130
37576,37576,Stephanie Arroyo,F,11th,Thomas High School,86.0,79.0,14,Charter,1635,1043130
37577,37577,Tiffany Graham,F,10th,Thomas High School,99.0,99.0,14,Charter,1635,1043130
37579,37579,Stephen Walker,M,11th,Thomas High School,76.0,84.0,14,Charter,1635,1043130
37580,37580,Oscar Hill,M,10th,Thomas High School,81.0,79.0,14,Charter,1635,1043130
37582,37582,Adam Gibbs,M,12th,Thomas High School,88.0,81.0,14,Charter,1635,1043130
...,...,...,...,...,...,...,...,...,...,...,...
39126,39126,Samuel Casey,M,10th,Thomas High School,97.0,85.0,14,Charter,1635,1043130
39129,39129,Diane Miller,F,10th,Thomas High School,81.0,91.0,14,Charter,1635,1043130
39130,39130,Brett Arnold,M,11th,Thomas High School,81.0,76.0,14,Charter,1635,1043130
39133,39133,Emily Gomez,F,12th,Thomas High School,77.0,93.0,14,Charter,1635,1043130
39134,39134,Kerri Berger,F,12th,Thomas High School,83.0,99.0,14,Charter,1635,1043130
39136,39136,Elizabeth Aguirre,F,12th,Thomas High School,85.0,97.0,14,Charter,1635,1043130
39137,39137,Victoria Bailey,F,12th,Thomas High School,75.0,70.0,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86.0,93.0,14,Charter,1635,1043130
39142,39142,Deborah Higgins,F,10th,Thomas High School,96.0,83.0,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71.0,93.0,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77.0,87.0,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94.0,74.0,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88.0,81.0,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89.0,89.0,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82.0,93.0,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80.0,75.0,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84.0,73.0,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91.0,71.0,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92.0,98.0,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79.0,95.0,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87.0,90.0,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85.0,72.0,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0,14,Charter,1635,1043130

In [47]:
# Step 7. Get all the students passing reading from THS
passing_reading_THS = school_data_Thomas_High_School["reading_score"] >= 70
passing_reading_count_THS = passing_math_THS.count()["student_name"]
#passing_reading_count_THS = school_data_Thomas_High_School[(school_data_Thomas_High_School["reading_score"] >= 70)].count()["student_name"]

In [48]:
# Step 8. Get all the students passing math and reading from THS
passing_math_reading_THS = school_data_Thomas_High_School[(school_data_Thomas_High_School["math_score"] >= 70) & (school_data_Thomas_High_School["reading_score"] >= 70)]
passing_math_reading_THS["student_name"].count()
passing_math_reading_THS = passing_math_reading_THS.student_name.count()

In [49]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 
passing_math_percentage_THS = passing_math_count_THS / float(total_student_count_Thomas_High_School) * 100

In [50]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
passing_reading_percentage_THS = passing_reading_count_THS / float(total_student_count_Thomas_High_School) * 100

In [51]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 

overall_passing_percentage_THS = passing_math_reading_THS / float(total_student_count_Thomas_High_School) * 100

In [52]:
per_school_summary_df

,% Overall Passing,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,School Type,Total School Budget,Total Students
Bailey High School,54.642283,66.680064,81.933280,77.048432,81.033963,$628.00,District,"$3,124,928.00",4976
Cabrera High School,91.334769,94.133477,97.039828,83.061895,83.975780,$582.00,Charter,"$1,081,356.00",1858
Figueroa High School,53.204476,65.988471,80.739234,76.711767,81.158020,$639.00,District,"$1,884,411.00",2949
Ford High School,54.289887,68.309602,79.299014,77.102592,80.746258,$644.00,District,"$1,763,916.00",2739
Griffin High School,90.599455,93.392371,97.138965,83.351499,83.816757,$625.00,Charter,"$917,500.00",1468
Hernandez High School,53.527508,66.752967,80.862999,77.289752,80.934412,$652.00,District,"$3,022,020.00",4635
Holden High School,89.227166,92.505855,96.252927,83.803279,83.814988,$581.00,Charter,"$248,087.00",427
Huang High School,53.513884,65.683922,81.316421,76.629414,81.182722,$655.00,District,"$1,910,635.00",2917
Johnson High School,53.539172,66.057551,81.222432,77.072464,80.966394,$650.00,District,"$3,094,650.00",4761
Pena High School,90.540541,94.594595,95.945946,83.839917,84.044699,$609.00,Charter,"$585,858.00",962
Rodriguez High School,52.988247,66.366592,80.220055,76.842711,80.744686,$637.00,District,"$2,547,363.00",3999
Shelton High School,89.892107,93.867121,95.854628,83.359455,83.725724,$600.00,Charter,"$1,056,600.00",1761
Thomas High School,65.076453,66.911315,69.663609,83.350937,83.896082,$638.00,Charter,"$1,043,130.00",1635
Wilson High School,90.582567,93.867718,96.539641,83.274201,83.989488,$578.00,Charter,"$1,319,574.00",2283
Wright High School,90.333333,93.333333,96.611111,83.682222,83.955000,$583.00,Charter,"$1,049,400.00",1800

In [53]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc['Thomas High School', "% Passing Math"] = passing_math_percentage_THS
per_school_summary_df

,% Overall Passing,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,School Type,Total School Budget,Total Students
Bailey High School,54.642283,66.680064,81.933280,77.048432,81.033963,$628.00,District,"$3,124,928.00",4976
Cabrera High School,91.334769,94.133477,97.039828,83.061895,83.975780,$582.00,Charter,"$1,081,356.00",1858
Figueroa High School,53.204476,65.988471,80.739234,76.711767,81.158020,$639.00,District,"$1,884,411.00",2949
Ford High School,54.289887,68.309602,79.299014,77.102592,80.746258,$644.00,District,"$1,763,916.00",2739
Griffin High School,90.599455,93.392371,97.138965,83.351499,83.816757,$625.00,Charter,"$917,500.00",1468
Hernandez High School,53.527508,66.752967,80.862999,77.289752,80.934412,$652.00,District,"$3,022,020.00",4635
Holden High School,89.227166,92.505855,96.252927,83.803279,83.814988,$581.00,Charter,"$248,087.00",427
Huang High School,53.513884,65.683922,81.316421,76.629414,81.182722,$655.00,District,"$1,910,635.00",2917
Johnson High School,53.539172,66.057551,81.222432,77.072464,80.966394,$650.00,District,"$3,094,650.00",4761
Pena High School,90.540541,94.594595,95.945946,83.839917,84.044699,$609.00,Charter,"$585,858.00",962
Rodriguez High School,52.988247,66.366592,80.220055,76.842711,80.744686,$637.00,District,"$2,547,363.00",3999
Shelton High School,89.892107,93.867121,95.854628,83.359455,83.725724,$600.00,Charter,"$1,056,600.00",1761
Thomas High School,65.076453,93.185690,69.663609,83.350937,83.896082,$638.00,Charter,"$1,043,130.00",1635
Wilson High School,90.582567,93.867718,96.539641,83.274201,83.989488,$578.00,Charter,"$1,319,574.00",2283
Wright High School,90.333333,93.333333,96.611111,83.682222,83.955000,$583.00,Charter,"$1,049,400.00",1800

In [54]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc['Thomas High School', "% Passing Reading"] = passing_reading_percentage_THS
per_school_summary_df

,% Overall Passing,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,School Type,Total School Budget,Total Students
Bailey High School,54.642283,66.680064,81.933280,77.048432,81.033963,$628.00,District,"$3,124,928.00",4976
Cabrera High School,91.334769,94.133477,97.039828,83.061895,83.975780,$582.00,Charter,"$1,081,356.00",1858
Figueroa High School,53.204476,65.988471,80.739234,76.711767,81.158020,$639.00,District,"$1,884,411.00",2949
Ford High School,54.289887,68.309602,79.299014,77.102592,80.746258,$644.00,District,"$1,763,916.00",2739
Griffin High School,90.599455,93.392371,97.138965,83.351499,83.816757,$625.00,Charter,"$917,500.00",1468
Hernandez High School,53.527508,66.752967,80.862999,77.289752,80.934412,$652.00,District,"$3,022,020.00",4635
Holden High School,89.227166,92.505855,96.252927,83.803279,83.814988,$581.00,Charter,"$248,087.00",427
Huang High School,53.513884,65.683922,81.316421,76.629414,81.182722,$655.00,District,"$1,910,635.00",2917
Johnson High School,53.539172,66.057551,81.222432,77.072464,80.966394,$650.00,District,"$3,094,650.00",4761
Pena High School,90.540541,94.594595,95.945946,83.839917,84.044699,$609.00,Charter,"$585,858.00",962
Rodriguez High School,52.988247,66.366592,80.220055,76.842711,80.744686,$637.00,District,"$2,547,363.00",3999
Shelton High School,89.892107,93.867121,95.854628,83.359455,83.725724,$600.00,Charter,"$1,056,600.00",1761
Thomas High School,65.076453,93.185690,93.185690,83.350937,83.896082,$638.00,Charter,"$1,043,130.00",1635
Wilson High School,90.582567,93.867718,96.539641,83.274201,83.989488,$578.00,Charter,"$1,319,574.00",2283
Wright High School,90.333333,93.333333,96.611111,83.682222,83.955000,$583.00,Charter,"$1,049,400.00",1800

In [55]:
overall_passing_percentage_THS

90.63032367972743

In [56]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc['Thomas High School', "% Overall Passing"] = overall_passing_percentage_THS
per_school_summary_df

,% Overall Passing,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,School Type,Total School Budget,Total Students
Bailey High School,54.642283,66.680064,81.933280,77.048432,81.033963,$628.00,District,"$3,124,928.00",4976
Cabrera High School,91.334769,94.133477,97.039828,83.061895,83.975780,$582.00,Charter,"$1,081,356.00",1858
Figueroa High School,53.204476,65.988471,80.739234,76.711767,81.158020,$639.00,District,"$1,884,411.00",2949
Ford High School,54.289887,68.309602,79.299014,77.102592,80.746258,$644.00,District,"$1,763,916.00",2739
Griffin High School,90.599455,93.392371,97.138965,83.351499,83.816757,$625.00,Charter,"$917,500.00",1468
Hernandez High School,53.527508,66.752967,80.862999,77.289752,80.934412,$652.00,District,"$3,022,020.00",4635
Holden High School,89.227166,92.505855,96.252927,83.803279,83.814988,$581.00,Charter,"$248,087.00",427
Huang High School,53.513884,65.683922,81.316421,76.629414,81.182722,$655.00,District,"$1,910,635.00",2917
Johnson High School,53.539172,66.057551,81.222432,77.072464,80.966394,$650.00,District,"$3,094,650.00",4761
Pena High School,90.540541,94.594595,95.945946,83.839917,84.044699,$609.00,Charter,"$585,858.00",962
Rodriguez High School,52.988247,66.366592,80.220055,76.842711,80.744686,$637.00,District,"$2,547,363.00",3999
Shelton High School,89.892107,93.867121,95.854628,83.359455,83.725724,$600.00,Charter,"$1,056,600.00",1761
Thomas High School,90.630324,93.185690,93.185690,83.350937,83.896082,$638.00,Charter,"$1,043,130.00",1635
Wilson High School,90.582567,93.867718,96.539641,83.274201,83.989488,$578.00,Charter,"$1,319,574.00",2283
Wright High School,90.333333,93.333333,96.611111,83.682222,83.955000,$583.00,Charter,"$1,049,400.00",1800

In [57]:
# per_school_summary_df
per_school_summary_df

,% Overall Passing,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,School Type,Total School Budget,Total Students
Bailey High School,54.642283,66.680064,81.933280,77.048432,81.033963,$628.00,District,"$3,124,928.00",4976
Cabrera High School,91.334769,94.133477,97.039828,83.061895,83.975780,$582.00,Charter,"$1,081,356.00",1858
Figueroa High School,53.204476,65.988471,80.739234,76.711767,81.158020,$639.00,District,"$1,884,411.00",2949
Ford High School,54.289887,68.309602,79.299014,77.102592,80.746258,$644.00,District,"$1,763,916.00",2739
Griffin High School,90.599455,93.392371,97.138965,83.351499,83.816757,$625.00,Charter,"$917,500.00",1468
Hernandez High School,53.527508,66.752967,80.862999,77.289752,80.934412,$652.00,District,"$3,022,020.00",4635
Holden High School,89.227166,92.505855,96.252927,83.803279,83.814988,$581.00,Charter,"$248,087.00",427
Huang High School,53.513884,65.683922,81.316421,76.629414,81.182722,$655.00,District,"$1,910,635.00",2917
Johnson High School,53.539172,66.057551,81.222432,77.072464,80.966394,$650.00,District,"$3,094,650.00",4761
Pena High School,90.540541,94.594595,95.945946,83.839917,84.044699,$609.00,Charter,"$585,858.00",962
Rodriguez High School,52.988247,66.366592,80.220055,76.842711,80.744686,$637.00,District,"$2,547,363.00",3999
Shelton High School,89.892107,93.867121,95.854628,83.359455,83.725724,$600.00,Charter,"$1,056,600.00",1761
Thomas High School,90.630324,93.185690,93.185690,83.350937,83.896082,$638.00,Charter,"$1,043,130.00",1635
Wilson High School,90.582567,93.867718,96.539641,83.274201,83.989488,$578.00,Charter,"$1,319,574.00",2283
Wright High School,90.333333,93.333333,96.611111,83.682222,83.955000,$583.00,Charter,"$1,049,400.00",1800

## High and Low Performing Schools

In [58]:
# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head()

,% Overall Passing,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,School Type,Total School Budget,Total Students
Cabrera High School,91.334769,94.133477,97.039828,83.061895,83.975780,$582.00,Charter,"$1,081,356.00",1858
Thomas High School,90.630324,93.185690,93.185690,83.350937,83.896082,$638.00,Charter,"$1,043,130.00",1635
Griffin High School,90.599455,93.392371,97.138965,83.351499,83.816757,$625.00,Charter,"$917,500.00",1468
Wilson High School,90.582567,93.867718,96.539641,83.274201,83.989488,$578.00,Charter,"$1,319,574.00",2283
Pena High School,90.540541,94.594595,95.945946,83.839917,84.044699,$609.00,Charter,"$585,858.00",962

In [59]:
# Sort and show top five schools.
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

bottom_schools.head()

,% Overall Passing,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,School Type,Total School Budget,Total Students
Rodriguez High School,52.988247,66.366592,80.220055,76.842711,80.744686,$637.00,District,"$2,547,363.00",3999
Figueroa High School,53.204476,65.988471,80.739234,76.711767,81.158020,$639.00,District,"$1,884,411.00",2949
Huang High School,53.513884,65.683922,81.316421,76.629414,81.182722,$655.00,District,"$1,910,635.00",2917
Hernandez High School,53.527508,66.752967,80.862999,77.289752,80.934412,$652.00,District,"$3,022,020.00",4635
Johnson High School,53.539172,66.057551,81.222432,77.072464,80.966394,$650.00,District,"$3,094,650.00",4761

## Math and Reading Scores by Grade

In [60]:
# Create a grade level DataFrames.
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [61]:
# Create a Series of scores by grade levels using conditionals.


# Group each school Series by the school name for the average math score.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]

tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]

twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

# Group each school Series by the school name for the average reading score.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]

tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [62]:
# Combine each Series for average math scores by school into single data frame.
math_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})

math_scores_by_grade.head()

                           10th       11th       12th        9th
school_name
Bailey High School    76.996772  77.515588  76.492218  77.083676
Cabrera High School   83.154506  82.765560  83.277487  83.094697
Figueroa High School  76.539974  76.884344  77.151369  76.403037
Ford High School      77.672316  76.918058  76.179963  77.361345
Griffin High School   84.229064  83.842105  83.356164  82.044010

In [63]:
# Combine each Series for average reading scores by school into single data frame.
reading_scores_by_grade = pd.DataFrame({
              "9th": ninth_grade_reading_scores,
              "10th": tenth_grade_reading_scores,
              "11th": eleventh_grade_reading_scores,
              "12th": twelfth_grade_reading_scores})

reading_scores_by_grade.head()

                           10th       11th       12th        9th
school_name
Bailey High School    80.907183  80.945643  80.912451  81.303155
Cabrera High School   84.253219  83.788382  84.287958  83.676136
Figueroa High School  81.408912  80.640339  81.384863  81.198598
Ford High School      81.262712  80.403642  80.662338  80.632653
Griffin High School   83.706897  84.288089  84.013699  83.369193

In [64]:
# Format each grade column.
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)

math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)

math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)

math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

  # Make sure the columns are in the correct order.
math_scores_by_grade = math_scores_by_grade[
                 ["9th", "10th", "11th", "12th"]]

In [65]:
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)

reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)

reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)

reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

  # Make sure the columns are in the correct order.
reading_scores_by_grade = reading_scores_by_grade[
                 ["9th", "10th", "11th", "12th"]]

In [66]:
# Remove the index.

  # Remove the index name.
reading_scores_by_grade.index.name = None

# Display the data frame
# Display the data frame.
reading_scores_by_grade.head()

                       9th  10th  11th  12th
Bailey High School    81.3  80.9  80.9  80.9
Cabrera High School   83.7  84.3  83.8  84.3
Figueroa High School  81.2  81.4  80.6  81.4
Ford High School      80.6  81.3  80.4  80.7
Griffin High School   83.4  83.7  84.3  84.0

In [67]:
## Remove the index.

 # Remove the index name.
math_scores_by_grade.index.name = None
# Display the data frame
 # Display the DataFrame.
math_scores_by_grade.head()

                       9th  10th  11th  12th
Bailey High School    77.1  77.0  77.5  76.5
Cabrera High School   83.1  83.2  82.8  83.3
Figueroa High School  76.4  76.5  76.9  77.2
Ford High School      77.4  77.7  76.9  76.2
Griffin High School   82.0  84.2  83.8  83.4

## Scores by School Spending

In [68]:
# Establish the spending bins and group names.
per_school_capita.describe()

spending_bins = [0, 585, 615, 645, 675]
pd.cut(per_school_capita, spending_bins)

spending_bins = [585, 615, 645, 675]
pd.cut(per_school_capita, spending_bins)

spending_bins = [0, 585, 615, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

# Categorize spending based on the bins.
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]


# Categorize spending based on the bins.
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

per_school_summary_df

,% Overall Passing,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,School Type,Total School Budget,Total Students,Spending Ranges (Per Student)
Bailey High School,54.642283,66.680064,81.933280,77.048432,81.033963,$628.00,District,"$3,124,928.00",4976,$585-629
Cabrera High School,91.334769,94.133477,97.039828,83.061895,83.975780,$582.00,Charter,"$1,081,356.00",1858,<$584
Figueroa High School,53.204476,65.988471,80.739234,76.711767,81.158020,$639.00,District,"$1,884,411.00",2949,$630-644
Ford High School,54.289887,68.309602,79.299014,77.102592,80.746258,$644.00,District,"$1,763,916.00",2739,$630-644
Griffin High School,90.599455,93.392371,97.138965,83.351499,83.816757,$625.00,Charter,"$917,500.00",1468,$585-629
Hernandez High School,53.527508,66.752967,80.862999,77.289752,80.934412,$652.00,District,"$3,022,020.00",4635,$645-675
Holden High School,89.227166,92.505855,96.252927,83.803279,83.814988,$581.00,Charter,"$248,087.00",427,<$584
Huang High School,53.513884,65.683922,81.316421,76.629414,81.182722,$655.00,District,"$1,910,635.00",2917,$645-675
Johnson High School,53.539172,66.057551,81.222432,77.072464,80.966394,$650.00,District,"$3,094,650.00",4761,$645-675
Pena High School,90.540541,94.594595,95.945946,83.839917,84.044699,$609.00,Charter,"$585,858.00",962,$585-629
Rodriguez High School,52.988247,66.366592,80.220055,76.842711,80.744686,$637.00,District,"$2,547,363.00",3999,$630-644
Shelton High School,89.892107,93.867121,95.854628,83.359455,83.725724,$600.00,Charter,"$1,056,600.00",1761,$585-629
Thomas High School,90.630324,93.185690,93.185690,83.350937,83.896082,$638.00,Charter,"$1,043,130.00",1635,$630-644
Wilson High School,90.582567,93.867718,96.539641,83.274201,83.989488,$578.00,Charter,"$1,319,574.00",2283,<$584
Wright High School,90.333333,93.333333,96.611111,83.682222,83.955000,$583.00,Charter,"$1,049,400.00",1800,<$584

In [ ]:
# Calculate averages for the desired columns. 
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
# Create the DataFrame
spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

spending_summary_df

In [ ]:
# Format the DataFrame 
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)

spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]



# Categorize spending based on the bins.
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)

per_school_summary_df.head()

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame. 
size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})

size_summary_df

In [ ]:
# Format the DataFrame 
# # Format the DataFrame 
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)

size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)

size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)

size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)

size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

size_summary_df

## Scores by School Type

In [ ]:
# Calculate averages for the desired columns. 
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame. 
type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

type_summary_df

In [ ]:
# # Format the DataFrame 
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)

type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)

type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)

type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)

type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df